main,
.container,
%container,{
	max-width: $size-page--maxwidth;
	margin: 0 auto;
	
	&.main {
		min-height:100vh;
	}
}

a {
	@include transition-duration(0.4s);
}

::selection {
	background-color: $midnight-blue;
	color: white;
}