.gif {
	@extend %row;
	
	img {
		width: 50%;
		@extend %fl-l;
	}

	figcaption {
		width: 50%;
		@extend %fl-l;
		
		p {
			font-size: 1.25em;
			line-height: 1.5;
			background-color: $color-background-subtle;
			padding: 1em;
		}
		
		a {
			text-decoration: underline;
			color: $color-text-link;
			&:hover {
				color: $color-text-link-hover;
			}
		}
	}
}

article {
	
	
	h1 {
	font-size: 2.5em;
	font-weight: 800;
	margin: 1em;
	}
}

.tags {
	@extend %row;
	font-size: 0.6em;
	margin-bottom: 1em;
	.tag-list {
		li {
			float: left;
			display: inline-block;
			// @extend %border-radius;
			background-color: $color-background-subtle;
			border: 1px solid $color-background-shade;
			padding: 0.2em 0.4em;
			margin-right: 0.4em;
		}
	} 
}