$footer-height: 3em;

footer {
   position: relative;
   bottom: 0;
   width: 100%;
   background: $color-background-shade;
   text-align: center;
   font-size: 0.8em;
   padding: 1em; 
   z-index: 3;
   margin-top: -$footer-height;
   height: $footer-height;
}