$footer-height: 3em;

footer {
   position: relative;
   bottom: 0;
   width: 100%;
   background: $color-background-shade;
   text-align: center;
   padding: 1em; 
   z-index: 3;
   height: $footer-height;
   font-size: 0.6em;
   
   a {
      text-decoration: none;
      color: $color-primary; 
   }
}