header {
	background-color: $color-primary;
	height: 50px;
	display: block;
	
	h1 {
		padding: 0.2em;
		float: left;
	}
}


.searchbar {
	position: absolute;
	top: 0;
	right: 1em;
	
	/* SEARCHBAR */
	input {
		font-family: $font-family-copy;
		font-size: 1em;
		margin-left: -2.5em;
	}

	input[type="submit"] {
		opacity: 0;
		@include transition-duration(0.3s);
	}

	input[type="search"] {
		font-size: 0.6em;
		outline: none;
		-webkit-appearance: textfield;
		-webkit-box-sizing: content-box;
		background: $color-background-shade url(http://i.imm.io/Q0Jo.png) no-repeat 9px center;
		border: none;
		padding: 0.3em 3em 0.3em 2.5em;
		width: 8em;

		-webkit-border-radius: 2em;
		-moz-border-radius: 2em;
		border-radius: 2em;

		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		transition: all .5s;

		&:focus {
			width: 14em;
			
			+input {
				opacity: 1;
			}
		}
	}
}

.ham-menu {
	color: white;
	text-decoration: none;
	padding: 0.5em;
	float: left;
	display: inline-block;
	
	&:hover {
		background: $bouquet;
	}
}

.logo {
	width: 80px; 
	height: 40px;
	background: image-url('sassgif-logo.png');
	background-repeat: no-repeat;
	@include background-size(100%);
	font-size: 0px;
	display: block;
	
	// &.lesson-page {
	// 	margin-left: 100px;
	// }
}
