.lesson-list--home,
.lesson-list--results {
	li {
		width: 30%;
		float: left;
		display: block;
		
		&:nth-child(2) {
			width: 35%;
			margin: 0 2.5%;
			border-left: 1px solid lightgrey;
			border-right: 1px solid lightgrey;
			padding: 0 2.5%;
		} 

		img {
			width: 100%;
		}

		a {
			text-align: center;
			text-decoration: none;
			font-size: 1.2em;
			font-weight: 900;
			color: $color-text-weak;
		}
	}
}