.lesson-list--home,
.lesson-list--results {
	li {
		width: 32%;
		float: left;
		display: block;
		background: $color-background-subtle; 
		padding: 1%;
		margin-bottom: 2%;
		
		&:nth-child(2) {
			margin: 0 2%;
			
			@include breakpoint($tab-horiz) {
				margin: 1%;
			}
		} 

		img {
			width: 100%;
		}

		a {
			text-align: center;
			text-decoration: none;
			color: $color-text-weak;
		}

		.entry-date {
			@extend %caption-type;
			color: darken($color-background-shade, 20);
			margin-top: -0.5em;
			display: block;
			font-style: italic;
			border: none;
			background: none;
		}

		@include breakpoint($tab-horiz) {
			width: 48%;
			margin: 1%;
		}

		@include breakpoint($phone-horiz) {
			width: 98%;
			margin: 0 1% 5%; 
		}
	}
}

.logo--color {
	max-width: 550px;
	margin: 2em auto 0;
	
	&--subtitle {
		font-size: 0.6em;
	}
}