.lesson-list--home,
.lesson-list--results {
	li {
		width: 30%;
		float: left;
		display: block;
		
		&:nth-child(2) {
			width: 35%;
			margin: 0 2.5%;
			border-left: 1px solid lightgrey;
			border-right: 1px solid lightgrey;
			padding: 0 2.5%;
		} 

		img {
			width: 100%;
		}

		a {
			text-align: center;
			text-decoration: none;
			font-size: 1.2em;
			font-weight: 900;
			color: $color-text-weak;
			
			&:hover {
				color: $color-text-strong;
			}  
		}
	}
}

.sassmeister-gist {
	margin: 2em auto;
}

.logo {
	width: 80px; 
	height: 40px;
	background: image-url('sassgif-logo.png');
	background-repeat: no-repeat;
	@include background-size(100%);
	font-size: 0px;
	display: block;
}
