.sidebar {
	position: fixed;
	height: 100%;
    width: 160px;
    margin-right: 100px;
    // box-shadow: inset -10px 0 10px -5px hsla(0,0%,0%,.05);
    background-color: $color-background-subtle;
    border-right: 1px solid $color-background-shade;
    top: 0;
	bottom: 0;
	padding: 1em;
	z-index: 2; 
	
	a:not(.logo) {
		font-size: 0.8em; 
		text-decoration: none;
		font-weight: 600;
		color: $color-text-weak;
		
		&:hover {
			color: $color-text-strong;
		}  
	}
}