.pagination {
	// position: absolute;
	// top: 0;
	// left: 50px;
	
	a {
		padding: 0.5em;
		text-decoration: none;
		color: $color-titles;
		background: $color-background-subtle;
		display: block;
		width: 2em;
		height: 2em;
		top: 50%;
		position: absolute;
		
		&.prev {
			left: 0;

		}

		&.next {
			right: 0;
			
		}
		
		&:hover {
			background: $color-background-shade;
		}
	}
}