.sidebar {
	height: 100vh;
	width: $sidebar-width;
	background-color: $color-background-subtle;
	border-right: 1px solid $color-background-shade;
	float: left;
	position: absolute;
	z-index: 6;
	margin-left: -$sidebar-width;
	@include transition-duration(0.5s);
	
	h1 {
		margin: 0.5em 0.5em 0.2em;
	}
	
	&.opened {
		margin-left: 0;
	}
	
	li {
		font-size: 0.6em; 
		padding: 0.5em 1em;
		
		a {
			text-decoration: none;
			font-weight: 200;
			color: $color-text-strong;
			display: block;
		}

		// &:nth-child(2n+1) {
		// 	background-color: $color-background-shade;
		// }
		
		&:hover {
			color: $color-text-strong;
			background-color: $color-background-shade; 
		}  
	}
}

.shader.opened {
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 5;
	@include transition-duration(0.5s);
}