%font-serif {
	font-family: $font-family-copy;
}

%font-code {
	font-family: $font-family-code;
}

%font-sans {
	font-family: $font-family-headers;
}

body {
	@extend %font-serif;
	font-size: 24px;
	line-height: 1.4;
	color: $color-text;
}

h1,
h2,
h3,
nav,
li,
footer,
small {
	@extend %font-sans;
}

code {
	@extend %font-code;
	font-size: 0.8em;
	padding: 0.2em 0.5em;
	background: $color-background-code;
	color: $color-background-subtle;
	width: 100%;
	display: block;
}

em {
	font-style: italic;
	color: $color-accent;
}

strong {
	background-color: $color-background-invert;
	color: $color-text-invert;
	padding: 0 0.2em;
}