/* line 5, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
	COLOR
	Based on the Styleguide from http://sass-lang.com/styleguide
*/
/*
	SIZES
*/
/* 
	TYPOGRAPHY
*/
/* line 4, ../../sass/_common.scss */
input,
textarea,
*:focus {
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  background: none;
  border: none;
  box-shadow: none;
  outline: 0;
}

/* line 22, ../../sass/_common.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 43, ../../sass/_common.scss */
.gif img, .gif figcaption,
.fl-l {
  float: left;
}

/* line 48, ../../sass/_common.scss */
.fr-r {
  float: right;
}

/* line 53, ../../sass/_common.scss */
.white {
  color: white;
}

/* line 58, ../../sass/_common.scss */
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 65, ../../sass/_common.scss */
.row,
.lesson-list--home {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* line 72, ../../sass/_common.scss */
.border-radius,
.tags .tag-list li {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 1, ../../sass/_type.scss */
body {
  font-family: "Radley", "Times New Roman", serif;
}

/* line 5, ../../sass/_type.scss */
code {
  font-family: "Source Code Pro", "Courier New", Courier, monospace;
}

/* line 9, ../../sass/_type.scss */
h1,
h2,
h3,
nav,
li,
footer,
small {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 13, ../../sass/_type.scss */
body {
  font-size: 24px;
  line-height: 1.4;
  color: #484c55;
}

/* line 30, ../../sass/_type.scss */
code {
  font-size: 0.8em;
  padding: 0.2em 0.5em;
  background: #808c99;
  color: #f5f6f7;
  width: 100%;
  display: block;
}

/* line 40, ../../sass/_type.scss */
em {
  font-style: italic;
  color: #669999;
}

/* line 45, ../../sass/_type.scss */
strong {
  background-color: #cc6699;
  color: rgba(255, 255, 255, 0.9);
  padding: 0 0.2em;
}

/* line 1, ../../sass/_base.scss */
main,
.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* line 8, ../../sass/_base.scss */
a {
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/* line 1, ../../sass/_nav.scss */
nav {
  position: fixed;
}

/* line 3, ../../sass/_home.scss */
.lesson-list--home li {
  width: 30%;
  float: left;
  display: block;
}
/* line 7, ../../sass/_home.scss */
.lesson-list--home li img {
  width: 100%;
}

/* line 1, ../../sass/_footer.scss */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: #dadbdf;
  text-align: center;
  font-size: 0.8em;
  padding: 1em;
}

/* line 2, ../../sass/_entry.scss */
.gif img {
  width: 50%;
}
/* line 6, ../../sass/_entry.scss */
.gif figcaption {
  width: 50%;
}
/* line 10, ../../sass/_entry.scss */
.gif figcaption p {
  font-size: 1.25em;
  line-height: 1.5;
  background-color: #f5f6f7;
  padding: 1em;
}
/* line 17, ../../sass/_entry.scss */
.gif figcaption a {
  text-decoration: underline;
  color: #cc6699;
}
/* line 20, ../../sass/_entry.scss */
.gif figcaption a:hover {
  color: #003366;
}

/* line 27, ../../sass/_entry.scss */
article {
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* line 32, ../../sass/_entry.scss */
article h1 {
  font-size: 2.5em;
  font-weight: 800;
  margin: 1em;
}

/* line 39, ../../sass/_entry.scss */
.tags {
  font-size: 0.6em;
}
/* line 42, ../../sass/_entry.scss */
.tags .tag-list li {
  float: left;
  display: inline-block;
  background-color: #dadbdf;
  padding: 0.2em 0.4em;
  margin-right: 0.4em;
}
