<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Code+Pro:500|Radley:400,400italic' rel='stylesheet' type='text/css'>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/js/scripts.js"></script>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
	<header id="header">
		<a href="#" class="ham-menu fa fa-bars"></a>
		<h1><a class="logo {% if entry.getSection() == 'Lessons' %}lesson-page{% endif %}" href="{{ siteUrl }}">{{ siteName }}</a></h1>
	
		<section class="searchbar">
			<form action="{{ url('results') }}" role="search">
				<input type="search" name="q" placeholder="Search">
				<input type="submit" value="Go">
			</form>
		</section>
	</header>

	<nav class="sidebar" role="navigation">
		<h1>Topics</h1>
		<ul>
			{% for entry in craft.entries.section('Lessons').find() %}
				<li>
					<a href="{{ entry.slug }}" {% if craft.request.firstSegment == 'entry.slug' %}class="active"{% endif %}>
						{{ entry.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
	<div class="shader"></div>

	<main id="content" role="main" class="main container">
		{% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
		{% endblock %}
	</main>

	<footer id="footer">
		<div class="container">
			This was made by <a href="http://unakravets.com" target="_blank">Una</a> | View <a href="http://github.com/una/sass-gifs">Github Repo</a> | Built with &hearts; in <a href="http://buildwithcraft.com">Craft</a>
		</div>
	</footer>

</body>
</html>
