{% extends "_layout" %}

{% block content %}
	<div class="header-home">
		<!-- <img class="logo--color" src="images/sassgif-logo-full.png" alt=""> -->
		<h1>Sass Gifs</h1>
		<h2 class="logo--color--subtitle">for Visual Learners</h2>
	</div>
	<ul class="lesson-list--home">
		{% for entry in craft.entries.section('Lessons') %}
			<li>
			<a href="{{ entry.url }}">
				<figure>
					{% for image in entry.gifImage %}
						<img class="gif" src="{{ image.url }}" alt="{{ entry.title }}">
					{% endfor %}
					<figcaption>
						<span class="entry-title">{{ entry.title }}</span><br>
						<span class="entry-date">{{ entry.postDate | date("M d, Y")  }}</span>
					</figcaption>
				</figure>
			</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
