{% extends "_layout" %}

{% block content %}
	<div class="header-home">
		<img class="logo--color" src="images/sassgif-logo-full.png" alt="">
		<!-- <h2 class="logo--color--subtitle">for Visual Learners</h2> -->
	</div>
	<h3>Newest Gifs</h3>
	<ul class="lesson-list--home">
		{% for entry in craft.entries.section('Lessons').limit(3).find() %}
			<li>
			<a href="{{ entry.url }}">
				<figure>
					{% for image in entry.gifImage %}
						<img class="gif" src="{{ image.url }}" alt="{{ entry.title }}">
					{% endfor %}
					<figcaption>{{ entry.title }}</figcaption>
				</figure>
			</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
