{% extends "_layout" %}

{% block content %}
	<h1>{{ entry.heading }}</h1>

	{{ entry.body }}

	<h2>Newest Gifs</h2>
	<ul class="lesson-list--home">
		{% for entry in craft.entries.section('Lessons').limit(3).find() %}
			<li>
			<a href="{{ entry.url }}">
				<figure>
					{% for image in entry.gifImage %}
						<img class="gif" src="{{ image.url }}" alt="{{ entry.title }}">
					{% endfor %}
					<figcaption>{{ entry.title }}</figcaption>
				</figure>
			</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
