{% extends "_layout" %}

{% block content %}
	<article role="main">
		<h1>Concept: {{ entry.heading }}</h1>
		<figure class="gif">
			{% for image in entry.gifImage %}
				<img class="gif" src="{{ image.url }}" alt="{{ entry.title }}">
			{% endfor %}
			<figcaption class="explanation">{{ entry.explanation }}</figcaption>
		</figure>

		<section class="more-links">
		<h3>More Resources:</h3>
			{{ entry.links }}
		</section>

		<section class="tags">
		{% set tags = entry.tags %}
		{% if tags | length %}
		    <h3>Related Tags:</h3>
		    <ul class="tag-list">
			    {% for tag in tags %}
			      <li>{{ tag.name }}</li>
			    {% endfor %}
		    </ul>
		{% endif %}
		</section>
	</article>
	
	<section class="pagination">
	{% set params = {
                section: 'lessons',
            } %}  

    {% set prevconcept = entry.getPrev(params) %}
    {% set nextconcept = entry.getNext(params) %}

        {% if prevconcept %}   
        <a style="position:absolute; z-index:4; left:0 top: 200px; display: block;" class="prev" href="{{ prevconcept.url }}">Previous Concept</a>
        {% endif %}

        {% if nextconcept %}
        <a style="position:absolute; z-index:4; right:0 top: 200px; display: block;" class="next" href="{{ nextconcept.url }}">Next Concept</a>
        {% endif %}﻿
      </section>
{% endblock %}
