{% extends "_layout" %}

{% block content %}
	<article role="main">
		<h1>Concept: {{ entry.heading }}</h1>
		<figure class="gif">
			{% for image in entry.gifImage %}
				<img class="gif" src="{{ image.url }}" alt="{{ entry.title }}">
			{% endfor %}
			<figcaption class="explanation">{{ entry.explanation }}</figcaption>
		</figure>
		
		<p class="sassmeister" data-gist-id="9994826" data-height="400"><a href="http://sassmeister.com/gist/9994826">Play with this gist on SassMeister.</a></p><script src="http://static.sassmeister.com/js/embed.js" async></script>
		<section class="tags">
		{% set tags = entry.tags %}
		{% if tags | length %}
		    <h3>Related Tags:</h3>
		    <ul class="tag-list">
			    {% for tag in tags %}
			      <li>{{ tag.name }}</li>
			    {% endfor %}
		    </ul>
		{% endif %}
		</section>
	</article>
{% endblock %}
