{% extends "_layout" %}

{% block content %}
	<article role="main">
		<h1>Concept: {{ entry.heading }}</h1>
		<figure class="gif">
			{% for image in entry.gifImage %}
				<img class="gif" src="{{ image.url }}" alt="{{ entry.title }}">
			{% endfor %}
			<figcaption class="explanation">{{ entry.explanation }}</figcaption>
		</figure>

		{% if entry.links | length %}
			<section class="more-links">
				<h3>More Resources:</h3>
					{{ entry.links }}
			</section>
		{% endif %}

		<section class="tags">
		{% set tags = entry.tags %}
		{% if tags | length %}
		    <h3>Related Tags:</h3>
		    <ul class="tag-list">
			    {% for tag in tags %}
			      <li>{{ tag.name }}</li>
			    {% endfor %}
		    </ul>
		{% endif %}
		</section>
	</article>
	
	<section class="pagination">
	{% set params = { section: 'lessons' } %}  

    {% set prevconcept = entry.getPrev(params) %}
    {% set nextconcept = entry.getNext(params) %}

        {% if prevconcept %}   
        <a class="prev fa fa-chevron-left" href="{{ craft.entries.last.url }}" href="{{ prevconcept.url }}"></a>
	        {% else %}
	        <a class="prev fa fa-chevron-left" href="{{ craft.entries.last.url }}"></a>
        {% endif %}

        {% if nextconcept %}
        <a class="fa fa-chevron-right next" href="{{ nextconcept.url }}"></a>
	      	{% else %}
	      	<a class="fa fa-chevron-right next" href="{{ craft.entries.first.url }}"></a>
        {% endif %}﻿
      </section>
{% endblock %}
